<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test  name="Test">
    <classes>
      <class name="Test.Test_Log_In_Stemex"/>
      <class name="Test.Test_Stemex_Application_Creation"/>
      <class name="Test.Test_Stemex_Search_Filters"/>
      <class name="Test.Test_Stemex_Application_Creation_with_stage_verification"/>
      <class name="Test.Test_Stemex_Application_Creation_with_stage_rejected"/>
      <class name="Test.Test_Stemex_Application_Creation_with_stage2_rejected2"/>
      <class name="Test.Test_Stemex_Application_Creation_forms_submit_test2"/>
      <class name="Test.Test_Stemex_Application_Creation_forms_required_validation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
